.orders-container {
  background-color: white;
  margin: 20px;

  .table-index-image {
    height: 140px;
    width: 140px;
    border-radius: 20px;
    object-fit: cover;
  }

  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #fa3f63 !important;
  }
  .ant-tabs-tab:hover {
    color: #fa3f63 !important;
  }

  .ant-tabs-ink-bar {
    background-color: #fa3f63;
  }
}

.page-header {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding-bottom: 20px;
}

.ant-table {
  overflow: auto;
}
